.stage-1{
    position:absolute;
    bottom:82px;
    left: 228px;
}

.stage-2{
    position:absolute;
    bottom:263px;
    left: 268px;
}

.stage-3{
    position:absolute;
    bottom:221.5px;
    left: 418px;
}

.stage-4{
    position:absolute;
    bottom:81.5px;
    right: 468px;
}

.stage-5{
    position:absolute;
    right:308px;
    bottom:341.5px;
}

.stage-6{
    position:absolute;
    left: 168px;
    top: 162px;
}

.stage-7{
    position:absolute;
    top:42px;
    left: 148px;
}

.stage-8{
    position:absolute;
    top:42px;
    left: 446.5px;
}

.stage-9{
    position:absolute;
    top:42px;
    right: 148px;
}

.stage-10{
    position:absolute;
    right:58px;
    top:162px;
}

.stage-11{
    position:absolute;
    right: 108px;
    bottom: 181.5px
}

.character-button{
    position:absolute !important;
    bottom:10px;
    right:136px;
}

.menu-button{
    position:absolute !important;
    bottom:10px;
    right:10px;
}

