

.frontend{
    background: url(../../assets/frontend.png);
    background-position: 0px -640px; 
    width: 64px;
    height: 64px;
    transform: scale(2);
    background-size: auto !important;
}

.backend{
    background: url(../../assets/backend.png);
    background-position: 0px -1152px; 
    width: 64px;
    height: 64px;
    transform: scale(2);
    background-size: auto !important;
}

.fullstack{
    background: url(../../assets/fullstack.png);
    background-position: -320px -896px; 
    width: 64px;
    height: 64px;
    transform: scale(2);
    background-size: auto !important;
}

.char-tab{
    width: 126px;
    height: 126px;
}
.char-tab:hover { 
    /* border: solid rgb(142, 228, 232); */
    color: rgb(251,250,235);
}

.frontend-view{
    background: url(../../assets/frontend.png);
    background-position: 0px -640px; 
    width: 64px;
    height: 64px;
    transform: scale(5);
    background-size: auto !important;
}

.backend-view{
    background: url(../../assets/backend.png);
    background-position: 0px -1152px; 
    width: 64px;
    height: 64px;
    transform: scale(5);
    background-size: auto !important;
}

.fullstack-view{
    background: url(../../assets/fullstack.png);
    background-position: -320px -896px; 
    width: 64px;
    height: 64px;
    transform: scale(5);
    background-size: auto !important;
}