#root {
  width: 100%;
  margin: 0 auto;
  padding-top: 0;
  text-align: center;
}


/* GENERAL PAGE DESIGN */

.page-container {
  display: grid;
  place-items: center;
  height: calc(100vh - 68.5px);
  width: 100%;
  background-color: rgb(48,48,48);
}
.game-container {
  height: 600px;
  width: 1000px;
  border: transparent;
  border-radius: 10px;
  background-color: rgb(70,70,70);
}


/* HOME PAGE */ 

#home-top-half {
  height: 60%;
  width: 100%;
  display: grid;
  place-items: center;
  color: whitesmoke;
}
#home-bottom-half {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.home-details {
  width: calc(90%/3);
  height: 94%;
  border: solid black;
  border-radius: 30px;
  display: grid;
  place-items: center;
  color: whitesmoke;
  box-shadow: 0 .25rem .25rem 0.2rem black;
}


/* GAME PAGE */
#game-title {
  height: 20%;
  display: grid;
  place-items: center;  
  color: whitesmoke;
}