#root {
  width: 100%;
  margin: 0 auto;
  padding-top: 0;
  text-align: center;
  background-color: rgb(8,39,73);
}


/* COLOR PALETTE*/
.primary-bg {
  background-color: rgb(17,85,158) !important;
}
.secondary-bg {
  background-color: rgb(8,39,73) !important;
}
.outline-bg {
  background-color: rgb(142,228,232) !important;
}
.text {
  color: rgb(251,250,235) !important;
}



/* GENERAL PAGE DESIGN */

.page-container {
  display: grid;
  place-items: center;
  height: calc(100vh - 68.5px);
  width: 100%;
}
.game-container {
  height: 600px;
  width: 1000px;
  border: transparent;
  border-radius: 10px;
 
}

.map{
  height: 600px;
  width: 1000px;
  position: relative;
  border: transparent;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./features/assets/DungeonMap.png');
}


/* HOME PAGE */ 

#home-top-half {
  height: 60%;
  width: 100%;
  display: grid;
  place-items: center;
}
#home-bottom-half {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.home-details {
  width: calc(90%/3);
  height: 94%;
  border: solid black;
  border-radius: 30px;
  display: grid;
  place-items: center;
  box-shadow: 0 .25rem .25rem 0.2rem black;
  background-color: rgb(17,85,158);
}


/* NAVBAR */
#navbar-center {
  position: absolute;
  left: 50%;
  width: 220px;
  margin-left: -110px;
  text-align: center;
}
.circle-icon-box {
  position: relative;
  height: 60px;
  width: 60px;
  /* border: solid transparent; */
  /* border-radius: 30px; */
  overflow: hidden;
}
#avatar-icon-inactive {
  height: 60px;
  width: 60px;
  align-self: center;
}
#avatar-icon {
  height: 60px;
  width: 60px;
  align-self: center;
  cursor: pointer;
}
#avatar-icon:hover {
  border: solid rgb(142,228,232);
}
.headshot-img{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: white;
  background-image: url(./Components/headshot-imgs/fullstack-head.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: solid transparent;
  border-radius: 50%;
}
#frontend-head {
  background-image: url(./Components/headshot-imgs/frontend-head.png);
}
#backend-head {
  background-image: url(./Components/headshot-imgs/backend-head.png);
}
#fullstack-head {
  background-image: url(./Components/headshot-imgs/fullstack-head.png);
}
.navbar-login {
  margin-right: 30px !important;
  color: rgb(251,250,235);
}
.navbar-login:hover {
  text-decoration: underline;
  color: rgb(142,228,232);
}


#frontend-icon{
  background: url(./features/assets/frontend.png);
  margin-right: 15px;
  background-position: -340px -907px; 
  width: 31px;
  height: 23px;
  transform: scale(2);
}

#backend-icon{
  background: url(./features/assets/backend.png);
  margin-right: 15px;
  background-position: -273px -136px; 
  width: 29px;
  height: 26px;
  transform: scale(2);
}

#fullstack-icon{
  background: url(./features/assets/fullstack.png);
  margin-right: 15px;
  background-position: -342px -908px; 
  width: 28px;
  height: 26px;
  transform: scale(2);
}


/* GAME PAGE */
#game-title {
  height: 20%;
  display: grid;
  place-items: center;
}


/* LOGIN & SIGNUP */
#email {
  color: rgb(251,250,235);
  border: rgb(251,250,235) !important;
  background-color: rgb(17,85,158, 0);
}
#password {
  border: rgb(251,250,235);
}


/* ABOUT */

.github-icon {
  position: relative;
  height: 20px;
  width: 20px;
  
}

#skyler-icon{
  background: url(./features/assets/Skyler.png);
    background-position: 0px -640px; 
    width: 64px;
    height: 64px;
    transform: scale(1);
    background-size: auto !important;
}

#justin-icon{
  background: url(./features/assets/Justin.png);
    background-position: 0px -640px; 
    width: 64px;
    height: 64px;
    transform: scale(1);
    background-size: auto !important;
}

#garrett-icon{
  background: url(./features/assets/Garrett.png);
    background-position: 0px -640px; 
    width: 64px;
    height: 64px;
    transform: scale(1);
    background-size: auto !important;
}

#meredith-icon{
  background: url(./features/assets/Meredith.png);
    background-position: 0px -640px; 
    width: 64px;
    height: 64px;
    transform: scale(1);
    background-size: auto !important;
}

#zack-icon{
  background: url(./features/assets/Zack.png);
    background-position: 0px -640px; 
    width: 64px;
    height: 64px;
    transform: scale(1);
    background-size: auto !important;
}

.Enemy-battle{
  background: url(./features/assets/Enemy.png) -256px -320px;
  width: 64px;
  height: 64px;
  transform: scale(2);
}

.EnemyTwo-battle{
  background: url(./features/assets/Enemy2.png) -256px -320px;
  width: 64px;
  height: 64px;
  transform: scale(2);
}