#root {
  width: 100%;
  margin: 0 auto;
  padding-top: 0;
  text-align: center;
  background-color: rgb(8,39,73);
}


/* COLOR PALETTE*/
.primary-bg {
  background-color: rgb(17,85,158) !important;
}
.secondary-bg {
  background-color: rgb(8,39,73) !important;
}
.outline-bg {
  background-color: rgb(142,228,232) !important;
}
.text {
  color: rgb(251,250,235) !important;
}


/* GENERAL PAGE DESIGN */
.body-container {
  height: calc(100vh - 68.5px);
  box-shadow: inset 0px 3px 4px -2px rgba(0,0,0,1);
}
.page-container {
  display: grid;
  place-items: center;
  height: 100%;
  max-width: 1152px;
  margin-inline: auto;
}
.game-container {
  height: 600px;
  width: 1000px;
  border: transparent;
  border-radius: 10px;
  overflow: hidden;
}
.map{
  height: 600px;
  width: 1000px;
  position: relative;
  border: transparent;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./features/assets/DungeonMap.png');
}
.button-shadow {
  box-shadow: 0px 6px 6px 2px rgba(0,0,0,.4) !important;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: rgb(251,250,235);
}
.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(251,250,235);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* HOME PAGE */

#game-logo {
  padding-inline: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  border-radius: 30px;
  overflow: visible;
  box-shadow: 0px 10px 8px 4px rgba(0,0,0,.4),
        inset 0px 0px 150px 150px rgb(255,255,255,.8);
}
#game-logo-image {
  filter: drop-shadow(0px 0px 1px rgba(255,255,255,1));
}
#homepage-background-image {
  background-image: url('./features/assets/homepage-adventure-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 80%;
  min-height: 532px;
  box-shadow: 0px 0px 2px 2px rgba(255,255,255,1);
}
.home-buttons {
  width: 225px;
  height: 60px;
}
.home-details {
  width: calc(90%/3);
  height: 94%;
  border: solid black;
  border-radius: 30px;
  display: grid;
  place-items: center;
  box-shadow: 0 .25rem .25rem 0.2rem black;
  background-color: rgb(17,85,158);
}


/* NAVBAR */
#navbar-center {
  position: absolute;
  left: 50%;
  width: 220px;
  margin-left: -110px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.circle-icon-box {
  position: relative;
  height: 60px;
  width: 60px;
  overflow: hidden;
}
#avatar-icon-inactive {
  height: 60px;
  width: 60px;
  align-self: center;
}
#avatar-icon {
  height: 60px;
  width: 60px;
  align-self: center;
  cursor: pointer;
}
#avatar-icon:hover {
  border: solid rgb(142,228,232);
}
.headshot-img{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: white;
  background-image: url(./Components/headshot-imgs/fullstack-head.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: solid transparent;
  border-radius: 50%;
}
#frontend-head {
  background-image: url(./Components/headshot-imgs/frontend-head.png);
}
#backend-head {
  background-image: url(./Components/headshot-imgs/backend-head.png);
}
#fullstack-head {
  background-image: url(./Components/headshot-imgs/fullstack-head.png);
}
.navbar-login {
  margin-right: 30px !important;
  color: rgb(251,250,235);
}
.navbar-login:hover {
  text-decoration: underline;
  color: rgb(142,228,232);
}


#frontend-icon{
  background: url(./features/assets/frontend.png);
  margin-right: 15px;
  background-position: -340px -907px; 
  width: 31px;
  height: 23px;
  transform: scale(2);
}

#backend-icon{
  background: url(./features/assets/backend.png);
  margin-right: 15px;
  background-position: -273px -136px; 
  width: 29px;
  height: 26px;
  transform: scale(2);
}

#fullstack-icon{
  background: url(./features/assets/fullstack.png);
  margin-right: 15px;
  background-position: -342px -908px;
  width: 28px;
  height: 26px;
  transform: scale(2);
}


/* GAME PAGE */
#game-title {
  height: 20%;
  display: grid;
  place-items: center;
}


/* LOGIN & SIGNUP */
#email {
  color: rgb(251,250,235);
  border: rgb(251,250,235) !important;
  background-color: rgb(17,85,158, 0);
}
#password {
  border: rgb(251,250,235);
}


/* ABOUT */

.github-icon {
  color: rgb(251,250,235);
  font-size: 30;
  margin-top: -5px;
}
.team-sprite-container {
  width: 96px;
  height: 96px;
}
.team-icons {
  width: 64px;
  height: 64px;
  padding: 0;
  transform: scale(1.5);
}
#skyler-icon{
  background: url(./features/assets/Skyler.png) 0px -640px
}
#justin-icon{
  background: url(./features/assets/Justin.png) 0px -640px;
}
#garrett-icon{
  background: url(./features/assets/Garrett.png) 0px -640px;
}
#meredith-icon{
  background: url(./features/assets/Meredith.png) 0px -640px;
}
#zack-icon{
  background: url(./features/assets/Zack.png) 0px -640px;
}



/* STORY DIALOGUE */ 

.story-container{
  height: 100%;
  width: 100%;
  /* background-image: url('./features/assets/field_night_bg.png'); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.story-top{
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.story-middle{
  height: 200px;
  width: 60%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.story-bottom{
  height: 181px;
}

.menu-option{
  width: 1000px;
  height: 45px;
  border: solid 0px;
  border-radius: 0px;
  box-shadow: inset 0px 0px 1px 1px rgb(17,85,158);
}

.riddle-button {
  height: 45.2px;
}
.menu-option:hover {
  box-shadow: inset 0px 0px 2px 2px rgb(142,228,232);
  background-color: white;  
}






