.wrapper{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}


.frontend-battle{
  /*background: url(../../assets/frontend.png) -637px -1598px;*/
  background: url(../../assets/frontend.png) 0 -715px;
  /*background: url(../../assets/char_walk.png) 0 -20px;*/
  width: 64px;
  height: 64px;
  margin: 1em auto;
  /*width: 37px;*/
  /*height: 50px;*/
  transform: scale(2);
  /*background-size: auto !important;*/
  animation: anim-test 0.75s steps(9) both infinite, anim-walk 10s both linear, anim-attack 2s 5s;
  overflow: hidden;
}
/*testing stuff*/

@keyframes anim-test {
  100% {
    /*transform: translate3d(100%, 0, 0) scale(2);*/
    background-position: -576px -715px;
  }
}

@keyframes anim-walk {
  50% {
    transform: translateX(33vw) scale(2);
    /*transform: translateX(560px) scale(2);*/
  }
  100% {
    transform: translateX(0vw) scale(2);
    /*transform: translateX(560px) scale(2);*/
  }
}

@keyframes anim-attack {
  0% {
    animation: running;
  }
  50% {
    background: url(../../assets/frontend.png) -850px -1994px;
  }
  100% {
    background: url(../../assets/frontend.png) -1050px -1994px;
  }
}

/*end testing stuff*/

.backend-battle{
  background: url(../../assets/backend.png) -195px -1223px;
  width: 65px;
  height: 63px;
  transform: scale(2);
  background-size: auto !important;
}

.fullstack-battle{
  background: url(../../assets/fullstack.png) -202px -966px;
  width: 61px;
  height: 64px;
  transform: scale(2);
  background-size: auto !important;
}

.flip
{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.color{
  background-color: #d34549;
}

.attack{
  transition: 0.1s;
  transform: scale(2) translateX(10px) translateY(-10px);
}

.reset{
  transition: 0.1s;
  animation: .3s .3s infinite;
}

.eneAttack{
  transition: 0.1s;
  transform: scale(2) translateX(-10px) translateY(-10px);
}

.eneReset{
  transition: 0.1s;
}

.hit {
  opacity: 1;
  animation: flash 0.3s 0.3s infinite;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main {
  display: flex;
  border-radius: 5px;
  gap: 5px;
  padding: 5px;
  align-items: center;
  background-color: white;
}

.label {
  font-size: 32px;
  font-weight: bold;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50px;
  color: black;
}
  
.max {
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  background-color: lightgray;
}

.value {
  height: 100%;
  background-color: #020025;
  transition: 0.35s;
}

.battleDialog{
  border-style: double;
}

.Raphael-battle{
  background: url(../../assets/raphael.png) -780px -1599px;
  width: 110px;
  height: 75px;
  transform: scale(2);
}

.Adam-battle{
    background: url(../../assets/adam.png) -257px -326px;
    width: 52px;
    height: 62px;
    transform: scale(2);
  }

.Zaynab-battle{
    background: url(../../assets/zaynab.png) -636px -1606px;
    width: 74px;
    height: 65px;
    transform: scale(2);
  }
