.wrapper{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
#canvas-container {
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  height:100%;
}

/* PLAYER BATTLE */
.player-battle-stance {
  width: 64px;
  height: 64px;
  transform: scale(2);
  overflow: hidden;
}
.frontend-battle {
  background: url(../../assets/frontend.png) 0 -705px;
}
.backend-battle {
  background: url(../../assets/backend.png) 0px -705px;
}
.fullstack-battle {
  background: url(../../assets/fullstack.png) 0px -705px;
}
.flip {
  transform: rotateY(180deg);
}
.user-walk {
  animation: user-walk 5s linear;
}
@keyframes user-walk {
  40% {
    transform: translateX(400px);
  }
  60% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0px);
  }
}
.enemy-walk {
  animation: enemy-walk 5s linear;
}
@keyframes enemy-walk {
  40% {
    transform: translateX(-400px);
  }
  60% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}
.magic-hover {
  animation: magic-hover 3s linear;
}
@keyframes magic-hover {
  33% {
    transform: translateY(-32px);
  }
  66% {
    transform: translateY(-32px);
  }
  100% {
    transform: translateY(0px);
  }
}
.enemy-hit {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 10;
  background: url('../../assets/whitehit.png') 0px 0px;
  animation: enemy-hit .5s steps(7) 0s 1
}

.main {
  border-radius: 5px;
  gap: 5px;
  padding: 5px;
  align-items: center;
  background-color: rgb(8,39,73);
}

.label {
  font-size: 32px;
  font-weight: bold;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50px;
  color: rgb(251,250,235);
}
  
.max {
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  background-color: lightgray;
}

.value {
  height: 100%;
  background-color: darkred;
  transition: 0.35s;
}

.battleDialog{
  border: double rgb(142,228,232);
  width: 90%;
  margin-inline: auto;
}

.enemy-battle-stance {
  width: 64px;
  height: 64px;
  transform: scale(2);
  overflow: hidden;
}
.Raphael-battle {
  background: url(../../assets/raphael.png) 0px -577px;
}
.Zuckerborg-battle {
  background: url(../../assets/badraphael.png) 0px -577px;
}
.Adam-battle {
    background: url(../../assets/adam.png) 0px -577px;
}
.Zaynab-battle {
    background: url(../../assets/zaynab.png) 0px -577px;
}
.Skeleton-battle {
  background: url(../../assets/Enemy.png) 0px -577px;
}
.Dragon-battle {
  background: url(../../assets/Enemy2.png) 0px -577px;
}
.BoarMan-battle {
  background: url(../../assets/BoarMan.png) 0px -577px;
}

#battle-background {
  background-image: url('../../assets/dirt-path-banner.png');
  background-repeat: no-repeat;
  background-position-y: 20%;
  overflow: hidden;
  box-shadow: inset 0px 35px 16px -20px rgb(17,85,158),
              inset 0px -35px 16px -20px rgb(17,85,158);
}